@import "tailwindcss";

@theme {
  --color-primary: #2eca7f;
  --color-secondary: #000042;
  --color-text: #454545;
  --color-heading: #0a0a0a;
}

body {
  font-family: var(--font-nunito), sans-serif;
}

.josefin {
  font-family: var(--font-josefin-sans), sans-serif;
}
