@import "tailwindcss";

@theme {
  --color-primary: #03228f;
  --color-secondary: #0e73e4;
  --color-text: #454545;
  --color-heading: #0a0a0a;
}

body {
  font-family: var(--font-nunito), sans-serif;
}

.josefin {
  font-family: var(--font-josefin-sans), sans-serif;
}
